
/* nav 부분 */
nav {
    text-align: center;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}


nav ul {
    background: #efefef;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 10px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
}
nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block; padding: 5px 40px;
    color: #757575; text-decoration: none;
}

nav ul ul {
    background: #5f6975; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
}
nav ul ul li {
    float: none;
    width : 200px;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

nav ul ul li a:hover {
    background: #4b545f;
}


/* table 부분 */
table {
    width : 80%;

}

td {
    padding : 5px;
}


/* container 부분 */
.container{
    display :inline-flex;
    width : 100%;
    height : 180%;
    flex-direction : column;
    /*
    container 배치 바꾸고 싶을 때
    margin-left : 5%;
    margin-right : 10%;
    */
    text-align: center;
    vertical-align: middle;
    /*border : 1px solid black;*/
    /*background-color: #F6EECA;*/


}


/* header 부분 */
.header{
    display : inline-flex;
    flex : 0 1 30px;
    justify-content: flex-end;
    /*border : 1px solid black;*/

}

/*
.logo{
    width : 20%;
    cursor : pointer;
}
*/


.user_interface {
    margin : 10px;
    font-family: "Garamond";
    color : #848484;
    font-weight:bold;
    cursor : pointer;
}


/* nav-container 부분 */

.nav-container{
    display : inline-flex;
    flex-direction: row;
    width : 100%;
    margin : 0;
    padding: 0;
   /*
    justify-content: flex-end;
    font-family: "Arial";
    */
    height : 4%;
    color : #848484;
    font-weight:bold;
    background-color: darkslategrey;
    list-style-type : none;
    /*
    로고 삽입시 지정
    justify-content: flex-end;
    */
}


.nav-item {
    padding : 15px;
    cursor : pointer;
    justify-content: space-between;
}

.nav-item:nth-child(1){
    background-color : blanchedalmond;
}

.nav-item:hover{
    background-color: whitesmoke;
}



/* content 부분 */
.content {
    display: inline-flex;
    justify-content: center;
    flex : 0 0 400px;
    /*
    border : 1px solid red;
    margin-left : 10%;
    margin-right : 10%;
    */
}



/* sidebar 부분 */
.sidebar-container {
    display: inline-flex;
    justify-content: space-evenly;
    flex: 0 1 50px;
    /*margin-top: 10px;*/
    background-color: black;
    color : white;
}

.sidebar-container-left{
    display: inline-flex;
    border: 1px solid red;
    width : 50%;
    justify-content: center;
    align-items: center;

}

.sidebar-container-right{
    display: inline-flex;
    border : 1px solid red;
    width : 50%;
    justify-content: center;
    align-items: center;

}



/* footer 부분 */
.footer{
    font-size : 10pt;
    line-height : 1.7em;
    display : inline-flex;
    /*font-weight:bold;*/
    background-color: #2E2E2E;
    color : #848484;
    flex : 0 1 100px;
    justify-content: center;
    font-family: "Garamond";
}




/* Content 부분 */

.content_container {
    display: inline-flex;
    flex-direction : column;
    flex : 1 0 100px;
    border: 2px solid Red;
}

.content_header {
    display: inline-flex;
    flex : 0 1 30px;
    border: 2px solid Red;
    justify-content: center;
    align-items: center;

}
.content_body {
    display: inline-flex;
    border: 2px solid black;
    flex : 1 1 50px;
    justify-content: center;
}
.content_footer {
    display: inline-flex;
    flex : 0 1 50px;
    border: 2px solid #2db400;
    justify-content: center;
}

.sharing {
    background-color : whitesmoke;
    position : fixed;
    left : 80%;
    top : 70%;
    text-align : center;
    width : 150px;
    height : 150px;
}
